@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --christmas-red: #7b0a0a;
  --christmas-green: #213c18;
  --christmas-sage: #668c6f;
  --christmas-brown: #baa58c;
  --christmas-beige: #e5d5bb;
}

body {
  margin: 0;
  background-color: var(--christmas-beige);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: Yeseva One, serif;
}

p,
nav,
li {
  font-family: Josefin Sans, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--christmas-red);
  color: var(--christmas-beige);
  padding: 0 2rem;
}

nav {
  display: flex;
  flex-direction: row;
}
nav a {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--christmas-beige);
  color: var(--christmas-green);
  margin: 0.5rem;
}

#home {
  background-color: var(--christmas-brown);
}

h2 {
  margin-top: 0;
}

#countdown-clock {
  display: flex;
  flex-direction: row;
  background-color: var(--christmas-sage);
  padding: 0 2rem 1rem 2rem;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

#countdown-header {
  margin-top: 0;
  text-align: center;
}

.ornament {
  max-width: 25%;
  object-fit: contain;
}

#countdown-main {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.ticker {
  border: 2px solid black;
  border-radius: 5px;
  width: 4rem;
}

#countdown-numbers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

#hero-content {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#hero-content section {
  text-align: center;
  margin: auto;
  padding: 0 2rem;
}

#hero-content section h2 {
  font-size: 1.65rem;
}

#hero-content section p {
  font-size: 1.1rem;
}

#hero-image {
  max-width: 60%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 2px var(--christmas-brown);
  object-fit: contain;
}

.recipe-name {
  font-size: 1.65rem;
}

.recipe-picture {
  max-width: 50%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 2px var(--christmas-brown);
  object-fit: contain;
}

.recipe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2rem;
}

.instructions {
  padding: 1rem 2rem;
}

footer {
  background-color: var(--christmas-red);
  color: var(--christmas-beige);
  padding: 1rem;
  text-align: center;
}

#email {
  color: var(--christmas-brown);
}

.homeButton {
  #home {
    background-color: initial;
  }
}

.pistachioButton {
  #home {
    background-color: var(--christmas-beige);
  }
  #pistachio {
    background-color: var(--christmas-brown);
  }
}

.crackButton {
  #home {
    background-color: var(--christmas-beige);
  }
  #crack {
    background-color: var(--christmas-brown);
  }
}

.meltButton {
  #home {
    background-color: var(--christmas-beige);
  }
  #melt {
    background-color: var(--christmas-brown);
  }
}

@media screen and (max-width: 1250px) {
  header {
    text-align: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  #hero-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #hero-image {
    max-width: 80%;
  }
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  #countdown-clock {
    justify-content: center;
    align-items: center;
  }
  .ornament {
    display: none;
  }
  .recipe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recipe-picture {
    max-width: 80%;
  }
}
