@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Yeseva One, serif;
}

p,
nav,
li {
  font-family: Josefin Sans, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7b0a0a;
  color: #e5d5bb;
  padding: 0 1rem;
}

.nav-button {
  padding: 1rem;
  border: 1px solid black;
  text-decoration: none;
  background-color: #e5d5bb;
  color: #213c18;
  margin: 0.5rem;
}

#hero-image {
  max-width: 50%;
}

#countdown-clock {
}

.ticker {
  border: 2px solid black;
  width: 4rem;
}

#countdown-numbers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
}
